<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177850482753-r30tf2h9j9htln64pge3p9ruk8ippju9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177850482753-r30tf2h9j9htln64pge3p9ruk8ippju9</string>
	<key>API_KEY</key>
	<string>AIzaSyAjBWKIy6QrSOVOh0EgdeAunvMwOQ2dmgY</string>
	<key>GCM_SENDER_ID</key>
	<string>177850482753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>barakah.plus.ios</string>
	<key>PROJECT_ID</key>
	<string>barakah-plus</string>
	<key>STORAGE_BUCKET</key>
	<string>barakah-plus.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177850482753:ios:7bb79b750d659d10f6c6c0</string>
</dict>
</plist>